dj-database-url==0.4.1
Django==1.10
django-autoslug==1.9.3
django-dash==0.4.13
django-localeurl==2.0.2
django-slim==0.7.5
django-tinymce==2.3.0
easy-thumbnails==1.5
feedparser==5.2.1
flup6==1.1.1
google-api-python-client==1.5.1
gunicorn==19.6.0
httplib2==0.9.2
lorem-ipsum-generator==0.3
oauth2client==3.0.0
ordereddict==1.1
pif==0.7.3
Pillow==3.3.0
psycopg2==2.6.2
pyasn1==0.1.9
pyasn1-modules==0.0.8
requests==2.10.0
rsa==3.4.2
simplejson==3.8.2
six==1.10.0
transliterate==1.8.1
Unidecode==0.4.19
uritemplate==0.6
vishap==0.1.5
whitenoise==3.2.1
